* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6, p, body, a, img, ul, ol, blockquote, pre {
  margin: 0; padding: 0; border: 0;
  font-family: 'Open Sans', serif;
  
}

code {
  color: red;
  font-family: monospace;
  font-size: 1.3em;
}

body, p {
  
  line-height: 1.52;
  background-color: #f8f8f8;
  text-rendering: optimizeLegibility;
}
  
p {
  padding-bottom: .7em;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.2em;
    margin-top: .5em;
    margin-bottom: .5em;

}
h3 {
    font-size: 1.17em;
   
}
h4 {
    font-size: 1em;
   
}
h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}
h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

hr {
  display:none;
}



a {
    text-decoration: none;
    color: #0000FF;
   
}
a:hover,
a:focus {
    color: #ff8000;
}

.archive ul {
    list-style: none;
    margin: 0;
    padding: 5px 20px;
}

.archive li {
    margin: 5px 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: #1569C7;
    color: #fff;
}

nav {
  display: inline-block;
    margin: 0px;
    padding: 0;
    list-style: none;
}

.nav-list {
   display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: .1em;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}
  
.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.content {
  padding: 1em 1em 0 1em;
  max-width: 900px;
}

.postContent {
  padding-left: 1em;
}
.postContent ul, ol {
  padding-left: 3em;
  padding-bottom: .5em;
}

.postDate {
  color: #17354b;
  font-size: 90%;
  font-weight: 400;
  padding-bottom: 1.2em;
}

.postLink a {
  padding-left: 1%;
}



footer {
    text-align: center;
    padding: 3em 0;
}
  
footer a {
    color: #17354b;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.testside1 {
  max-width: 50%;
    float: left;
}

.testside2 {
  max-width: 50%;
    float: right;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 4em 0 3em;
        margin-left: 25%;
    
    }

    .header {
        margin: 50% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

}

