* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6, p, body, a, img, ul, ol, blockquote, pre {
  margin: 0; padding: 0; border: 0;
  font-family: 'Open Sans', serif;
  
}

body, p {
  
  line-height: 1.52;
  background-color: #f8f8f8;
  text-rendering: optimizeLegibility;
  
}
  

h1 {
    font-size: 2em;
    
}
h2 {
    font-size: 1.5em;
    margin-top: 1em;

}
h3 {
    font-size: 1.17em;
   
}
h4 {
    font-size: 1em;
   
}
h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}
h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}


a {
    text-decoration: none;
    color: #0000FF;
}
a:hover,
a:focus {
    color: #ff8000;
}

code {
    font-family: monospace;
}


.archive ul {
    list-style: none;
    margin: 0;
    padding: 5px 20px;
}

.archive li {
    margin: 5px 0;
}



.year h2 {
    margin: 0.2em 0;
}

.me {
    cursor: pointer;
    border-radius: 20%;
    border: 0.2em solid white;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
/*    background: rgb(61, 79, 93);*/
    background: #1569C7;
   
    color: #fff;
}

/*
.brand-title,
.brand-tagline {
    margin: 0;
    font-family: 'Raleway';
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}
*/
nav {
  display: inline-block;
    margin: 0px;
    padding: 0;
    list-style: none;
  
}
.nav-list {
   display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: .1em;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}



  
.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}
*/
.content {
    max-width: 900px;
    padding: 2em 1em 0;
}


.postContent p, ul, ol {
  padding-top: .5em;
  padding-bottom: .5em;
}

.postContent ul, ol {
  padding-left: 5%;
}


.postDate {
  color: #17354b;
  font-size: 90%;
  font-weight: 400;
  
}

.postLink a {
  padding-left: 1em;
}

.post h2 {
  padding: 0
}

footer {
    text-align: center;
    padding: 3em 0;
}
  
footer a {
    color: #17354b;
    
}


@media (min-width: 48em) {
    .content {
        padding: 2em 4em 0 3em;
        margin-left: 25%;
    }

    .header {
        margin: 50% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

.animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translate3d(100%, 0,-400px);
    transform: translate3d(100%, 0,-400px);
    opacity: 0;
  }
  100% {
   -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
   opacity: 1;
 }
}

@keyframes fadeIn {
  0% {
    transform: translate3d(100%,0,-400px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
 }
}


@-webkit-keyframes tumbleMe {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    50% {
        border-radius: 50%;
    }

    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@keyframes tumbleMe {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    50% {
        border-radius: 50%;
    }

    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

.me:hover, .tumbleMe {
    -webkit-animation-name: tumbleMe;
    animation-name: tumbleMe;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

